.link {
    color: #F3F4F6;
    font-size: 18px;
}

.linkMorePosts {
    width: 30%;
    height: 50px;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;
}

.checkedLink {
    color: #3BE2D3;
}