.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 180px;
    border-top: 4px solid #DC745E;
}

.title {
    color: #F3F4F6;
}

.linksWrapper {
    display: flex;
    width: 100px;
    justify-content: space-between;
}