.wrapper {
    width: 100%;
    height: 610px;
    padding: 0 250px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.articleList {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}